.home-background-image {
  display: block;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://res.cloudinary.com/joycechau/image/upload/c_crop,e_blur:100,h_2000,w_4250/v1484296261/home_page_background.jpg);
}
