@import "../base/colors.scss";

.profile-page-my-recipes-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: 1px solid $dark-gray;
}

.profile-page-recipe-index-masonry-container {
  width: 640px;
  margin: auto;
}

@media (min-width: 300px) and (max-width: 832px) {
  .profile-page-recipe-index-masonry-container {
    width: 650px;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .profile-page-recipe-index-masonry-container {
    width: 340px;
  }
}

.about-me-other-user-recipes {
  padding-left: 14px;
}

.about-me-other-user-recipes-title {
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
