.recipe-detail-container {
  border: 1px solid red;
}

.recipe-detail-break-section {
  border: 1px solid blue;
  display: block;
  background-color: red;
  height: 20px;
  margin-bottom: 10px
}

.recipe-detail-section {
  padding: 50px;
}

.recipe-detail-figure {
  border: 1px solid red;
  float: right;
  padding: 10px;

}

.recipe-detail-img {
  border: 1px solid red;
}

.recipe-detail-summary {
  border: 1px solid red;
  float: top;
  padding: 10px;
}

.recipe-detail-title {
  border: 1px solid red;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.recipe-detail-description {
  border: 1px solid red;
  padding: 10px;
}

.recipe-detail-author {
  border: 1px solid red;
  padding: 10px;
}

.recipe-detail-ingredients {
  border: 1px solid red;
  text-decoration-style: dotted;
  padding: 10px;
  font-size: 15p
}

.recipe-detail-ingredients-title {

}

.recipe-detail-directions {
  border: 1px solid red;
  padding: 10px;
}

.recipe-detail-directions-title {
  
}
