// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../base/colors.scss";

.modal-close-button {
  float: right
}

.session-form-modal {

}

.session-form {
  align-items: center;
}

.session-form-title {
  font-size: 30px;
  padding: 10px;
  text-align: center;
  color: $red-orange;
}

.session-form-label {
  color: $red-orange;
}

.session-form-input {
  padding: 5px;
  border: 1px solid $red-orange;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 235px;
}

.session-form-submit-button {
  padding: 3px;
  background-color: #E5572B;
  color: white;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.session-form-submit-button:hover {
  background-color: #CB4E27;
}

.error-message {
  font-size: 11px;
  font-style: italic;
  color: red;
  opacity: 50;
}

.session-form-redirect-text {
  color: $red-orange;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 15px
}

.session-form-redirect-button {
  margin: 0 auto;
  color: white;
  display: flex;
  padding: 3px;
  border-radius: 5px;
  background-color: #E5572B;
  padding-left: 10px;
  padding-right: 10px;
}

.session-form-redirect-button:hover {
  background-color: #CB4E27;
}
